/* Não Altere o CSS Inicial, Apenas Adicione o Seu CSS. */

#outer-box{
    border: 10px solid purple;
}

.box {
    background-color: blue;
    padding: 10px;
  }
  
p{
    color: yellow;
    margin: 0;
    padding: 0;
}

.white-text{
    color: white;
    background-color: red;
    margin-right: 9px;
    padding: 7px;
}