h1{
    text-align: center;
}
h2{
    text-align: center;
}

p.note{
    color: red;
    text-align: center;
}
li[value="2"]{
    color: black;
}
#id-selector-demo{
    color: green;
}
li[value="4"]{
    color: blue;
}
li[value="5"]{
    color: black;
}
ol{
    text-align: center;
}